body{

font-family:Arial;

background:#f4f4f4;

margin:0;

}

.container{

text-align:center;

margin-top:120px;

}

button{

background:#1976d2;

color:white;

padding:12px 25px;

border:none;

border-radius:6px;

cursor:pointer;

font-size:18px;

}